.container{
  height: calc(100vh - 100px);
  background-color: #222;
  display: flex;
}

.item:last-child{
  flex: 2;
  justify-content: space-between;
  padding: 50px;
}

.item{
  flex: 1;
  position: relative;
  display: flex;
}

.card{
  flex: 1;
  padding: 0 20px;
}

.title{
  font-size: 18px;
  color: #C2AEC3;
}

.text{
  color: lightgray;
}

.motto{
  color: white;
}

@media screen and (max-width:480px){
  .item:first-child{
    display: none;
  }
  .item{
    flex-direction: column;
  }
  .container{
    height: auto;
    text-align: center;
  }
  .title{
    font-size: 30px;
  }
  .text{
    font-size: 20px;
  }
}
